.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.link:hover,
.link:focus {
  transform: scale(1.1);
}

.link.active {
  color: #e84a5f;
}
