.container {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  padding: 20px 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
